*{
    box-sizing: border-box;
}
a{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    position: fixed;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    padding: 2rem;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(135, 206, 206);
    display: flex;
    color:white;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}
nav li{
    display: inline-block;
    margin-left: 20px;
}

li:hover{
    transition: .25s;
    transform: translate(0, -10px);
    font-size: 18px;
}
a{
    text-decoration: none;
    text-shadow: 0 0 24px;
    color: white
}

header h1{
    color: white;
}
nav{
    padding: 0;
}

body{
    background-color: white;
}

.wrap{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
}

.material-icons{
    font-size: 10rem;

}

.lg-text{
    font-size:2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.sm-text{
    font-size: 1.5rem;
}

#dynamic{
    position: relative;
    display: inline-block;
}

/* #dynamic::after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right:0;
    width:4px;
    height:4px;
    height: 100%;
    background-color: white;
} */

h1{
    color: green;
}

#btn1{
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0);
    color: green;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

#btn_group button:hover{
    color:white;
    background-color: green;
}